<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <script
      src="https://cdn.socket.io/4.5.4/socket.io.min.js"
      integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/socket.js"></script>
    <link rel="stylesheet" href="/css/chat.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <div class="page">
      <div>
        <form class="changeRoom">
          <input id='room-id' type="text" placeholder="enter room id">
          <button class="filler-button-room"></button>
          <button id="send-room-id">
            Change room
          </button>
        </form>
        <div class="messages">
          <button class="load-more-messages" disabled>Load More</button>
        </div>
        <form class="send-msg-form" action="" method="post">
          <input id="input-msg" type="text" placeholder="Type message" />
          <button class="filler-button" disabled></button>
          <button id="send" disabled>Send</button>
        </form>
      </div>
    </div>
    <script src="/javascript/sendMessage.js"></script>
    <script src="/javascript/createMessage.js"></script>
    <script src="/javascript/fetchMessages.js"></script>
    <script src="/javascript/generateColors.js"></script>
    <script src="/javascript/changeRoom.js"></script>
  </body>
</html>
