.messages {
    width: 400px;
    height: 500px;
    scroll-behavior: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.send-msg-form {
    display: inline-block;
    width: 380px;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
}

.rec-msg-container {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: #ff8888;
}

.sent-msg-container {
    position: relative;
}

.filler-div {
    position: relative;
    color: transparent;
    padding: 10px;
    margin: 10px;
}

.own-message {
    position: absolute;
    right: 0;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: #88ff88;
}

.rec-msg-sender {
    color: white
}