body {
    background-color: black;
}

.page {
    display: flex;
    align-content: center;
    justify-content: center;

}

.messages {
    width: 400px;
    height: 500px;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #333;
}

.send-msg-form {
    display: inline-block;
    width: 380px;
    padding: 10px;
    border-radius: 10px;
    background-color: #222;
    display: flex;
    margin-top: 10px;
    position: relative;
}

.send-msg-form input {
    background-color: transparent;
    border: none;
    flex-grow: 1;
    color: white;
}

.send-msg-form input:focus {
    outline: none;
}

.send-msg-form:focus-within {
    background-color: #333;
}

.filler-button {
    width: 50px;
    border: none;
    background-color: transparent;
}

#send {
    position: absolute;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: white;
    right: 0;
    top: 0;
    /*padding: 10px;*/
    margin-right: 10px;
}

#send:hover {
    background-color: #444;
}

.rec-msg-container {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: #ff8888;
}

.sent-msg-container {
    position: relative;
}

.filler-div {
    position: relative;
    color: transparent;
    padding: 10px;
    margin: 10px;
}

.own-message {
    position: absolute;
    right: 0;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: #88ff88;
}

.rec-msg-sender {
    color: white
}